[core]
	editor = vim
	excludesfile = /Users/bnycum/.gitignore_global
	quotepath = false
[alias]
	c = clone
	d = diff
	st = status
	ci = commit
	co = checkout
	revert = reset HEAD
	hist = log --pretty=format:\"%C(yellow)%h %C(green)%ad %Creset| %s%d [%C(blue)%an%Creset]\" --graph --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = Brent Nycum
	email = brentnycum@gmail.com
[help]
	autocorrect = 1
[push]
	default = current
[pull]
	default = current
[diff]
	diff = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	postBuffer = 524288000
